body {
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
}

.screen {
    min-height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.top {
    background-color: #272727ff;
    width: 100%;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.top_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_thai {
    font-size: 2em;
    margin: 0 0 5px 0;
}

.top_counter {
    color: #858585ff;
    font-size: 1.2em;
    margin: 0;
}

.timer {
    background-color: #272727;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 60px;
}

.timer__items {
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: rgb(102, 102, 102);
    padding: 5px;
    border-top-left-radius: 25px 12.5px;
    border-top-right-radius: 25px 12.5px;
    border-bottom-left-radius: 25px 12.5px;
    border-bottom-right-radius: 25px 12.5px;
}

.timer__items.timer__weeks {
    width: 100%;
    order: -1;
}

.timer__items.timer__days {
    width: 100%;
    order: -1;
}

.timer__items.timer__hours,
.timer__items.timer__minutes,
.timer__items.timer__seconds {
    width: calc(33.33% - 10px);
}

.weeks,
.days,
.hours,
.minutes,
.seconds {
    font-size: 3.5em;
    margin: 0;
}

.w_name,
.d_name,
.h_name,
.m_name,
.s_name {
    font-size: 0.95em;
    margin: 0;
}

.author {
    color: #858585ff;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
}
